@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-950 text-gray-100 font-sans antialiased;
  }
  
  /* Custom scrollbar for Webkit browsers */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-dark-900;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-dark-700 rounded;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-dark-600;
  }
}
